body{
  padding: 0;
  margin: auto;
  text-align: center;
  background-color: #3AB4F2;
  align-items: center;
  font-family: Sans-serif;
}
.container
{
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 0px;
  background-color: #fff;
  height: 60%;
  width: 70%;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow : 1px 20px black;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo
{
  margin: 100px 0px 100px 0px;
  border-radius: 100%;
}
form label
{
  font-size: 2rem;
  color: black;
  margin: 10px auto 25px;
}
form input
{
  box-size: 10px 100px;
  margi
}
.tf
{
  margin: 10px 0 35px;
  height: 40px;
  width: 300px;
  border-radius: 10px;
}
.frg
{
  position: absolute;
  left: 220px;
}
.frg:hover
{
  text-decoration: underline;
  color: skyblue;
}
button
{
  display: inline-block;
  height: 40px;
  width: 110px;
  background-color: #3AB4F2;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-left:5px;
  
  
}
button:hover
{
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3AB4G1;
}
.bot
{
  margin-top: 100px;
}
hr
{
  margin: 40px auto 10px;
  width: 200px;
}
.link
{
  
}
img
{
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-top: 30px;
  border-radius: 100%;
}
